In [1]:
import pandas

In [2]:
import geopy

In [3]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [4]:
from geopy.geocoders import Nominatim

In [5]:
nom = Nominatim()

In [6]:
nom.geocode("3995 23rd St,San Francisco, CA 94114")

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

In [12]:
n = nom.geocode("Yelahanka New Town,Karnataka,India")

In [13]:
type(n)

geopy.location.Location

In [14]:
n.latitude

13.0978039

In [16]:
type(n.longitude)

float

In [18]:
df = pandas.read_csv("supermarkets.csv")

In [20]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df["Address"] = df["Address"] + "," + df["City"]+","+df["State"]+","+df["Country"];

In [22]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [24]:
n = Nominatim

In [25]:
nn = n.geocode(df["Address"])

TypeError: geocode() missing 1 required positional argument: 'query'

In [38]:
df["Coordinates"] = df["Address"].apply(x.geocode)

GeocoderTimedOut: Service timed out

In [34]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [36]:
x = Nominatim()

In [39]:
df["Coordinates"] = df["Address"].apply(x.geocode)

In [41]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [47]:
list(df["Coordinates"])

[Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0)),
 None,
 Location(332, Hill Street, Noe Valley, SF, California, 94114, United States of America, (37.755725122449, -122.428601306122, 0.0)),
 Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0)),
 Location(1056, Sanchez Street, Noe Valley, SF, California, 94114, United States of America, (37.7521458, -122.42981516, 0.0)),
 Location(551, Alvarado Street, Noe Valley, SF, California, 94114, United States of America, (37.7536733265306, -122.433219959184, 0.0))]

In [50]:
df.Coordinates[0].latitude

37.756488877551

In [52]:
df["Latitude"] = df["Coordinates"].apply(lambda x:x.latitude if x != None else None)

In [57]:
df["Longitude"] = df["Coordinates"].apply(lambda x: .Loitude if x != None else None)

SyntaxError: invalid syntax (<ipython-input-57-7ad9f6f849e6>, line 1)

In [ ]:
df["Coordinates"] = df["Address"].apply(x.geocode)